*{
    margin: 0;
    padding: 0 ;
    box-sizing: border-box;
}

#nav{
    background-color: rgb(191, 119, 42);
}
img{
    width: 100% !important;
    height: 200px !important;
    object-fit:cover !important;
}
.card{
    padding: 0;
}

.btn{
    background-color: rgb(191, 119, 42) !important;
    color: white;
}
